/* Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Tajawal');




/* Custom Fonts */
.font-Mont
{
	font-family: 'Montserrat', sans-serif;

}

.font-Taj
{
	font-family: 'Tajawal', sans-serif;
}



/*
SVG Style
*/

#S, #rest {
    stroke: black;
    stroke-width:1px;
    fill: black;
}


#S {
  stroke-dasharray: 3400;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
	
	  /* animation-duration: 2s;
  animation-name: drawS; */
  
  /* animation-direction: normal;
  animation-timing-function:linear 0s forwards; */


/* @keyframes drawS {
  from {
    stroke-dashoffset: -3400;
  }

  to {
    stroke-dashoffset: 0;
  }
from{
 fill:transparent;
}
to {
      fill: black;  
    }
}     */
}

#rest {
    stroke-dasharray: 9700;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:black;
   /*  animation-duration: 2s;
    animation-name: drawRest;
    animation-direction: normal;
    animation-timing-function:linear 0s forwards; */
}



/* Animation for SVG Logo (Not using but keeping in case of breakthrough) 

@keyframes drawRest {
  from {
    stroke-dashoffset: -9700;
  }
  
  to {
    stroke-dashoffset: 0;
  }
   from{
     fill:transparent;
    }
    to {
      fill: black;  
    }
}    
*/

/* Header Style */
.header {
   /* = position: fixed; */
    width:100%;
    background-color:white;
  /*   margin: auto; */
    
    
    
}

/* Logo Sizing */
.logo {
    width:80%;
		
    
}


/* Custom Colours */
.color-nickel
{
	background-color:#6E7271;
}

.color-text-white
{
	color: white;
}


/* Navigation Style */
#Nav
{
    background-color: white;
    text-align: center;
    z-index: 99;
}

.NavRow
{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

.NavRow li {
    display:inline;
    /* float:right; */
}


.NavRow a{
    display: inline-block;
    color: black;
    padding:10px;
    font-size:120%;
    text-decoration: none;
}



/* Footer Styling */

.copyright {
	
	bottom: 0;
	width:100%;
	text-align: center;
	justify-content:center;
}



